*{
    margin: 0px;
    padding: 0px;
    position: relative;
}
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

td{
    padding-right: 1rem;
    padding-left: 1rem;
    border: 1px solid black;
}

#NumberTable{
    margin-left: 1rem;
}

[type="button"]{
    margin-left: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}