/*
Deltagare:
Daniel Frisk - 000824
Johan Hertz - 970422 
Hannah Uhlán - 950901
*/

body{
    margin: 0px;
    padding: 0px;
}

td{
    padding-right: 1rem;
    padding-left: 1rem;
    border: 1px solid black;
}

#NumberTable{
    margin-left: 1rem;
}

[type="button"]{
    margin-left: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.loggaImg {
  margin: auto;
  height: 110px;
}

#navbarMenu .mobile-menu {
list-style-type: none;
padding: 0;
margin: 0;
text-align: center;
box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
top: 20px;
left: 0;
z-index: 999;
;
}

#navbarMenu .mobile-menu li a {
outline: none;
color: black;
text-decoration: none;
padding: 0.2em;
display: block;
width: 100%;
border: 2px solid transparent;
}

#navbarMenu .mobile-menu li a:hover {
border: 2px solid black;
}

#navbarMenu .mobile-menu li {
font-size: 35px;
}

#navbarMenu .mobile-menu li:hover {
color: #6c757d;
}

#navbarMenu .active {
background-color: #ffc107;
border-color: #ffc107;
}